<div class="security-settings">
    <h3>Update Password</h3>
    <hr>
    <div class="change-password">
      <div class="change-username-text">
        <p>Change your password</p>
      </div>
      <button class="blue-button" type="button" (click)="showChangePasswordModal()">Change Password</button>
    </div>

    <h3>Enable 2 Factor Authentication</h3>
    <hr>
    <div class="enable-2fa">
      <p>Enable 2 factor authentication for enhanced security</p>
      <button class="blue-button">Enable 2FA</button>
    </div>
</div>
