@import '../../../../styles.scss';

.security-settings
{
  margin-bottom: 20px;
  max-width: 540px;
}

.change-password, .enable-2fa, button
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

h3, p
{
  margin-bottom: 0;
}

hr
{
  width: 520px;
  margin-left: 20px;
}

h4
{
  margin-top: 10px;
  margin-bottom: 0;
}
