@import '../../../styles.scss';

footer
{
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: colour($light-theme-colours, medium-grey);

  h5
  {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
  }

  i
  {
    margin-left: 20px;
  }

  .text-links a:hover
  {
    color: colour($light-theme-colours, medium-blue);
    border-bottom: colour($light-theme-colours, medium-blue);
  }

  .fa-twitter
  {
    color: colour($light-theme-colours, twitter-blue);
  }

  .fa-youtube
  {
    color: colour($light-theme-colours, youtube-red);
  }
}
