<footer>

  <div class="date">
    <h5>Rubbish Rewards {{currentYear}}</h5>
  </div>

  <div class="text-links"> <!--These pages need implementing with the angular router-->
    <a routerLink="" href="" target="_blank"><h5>About</h5></a>
    <a routerLink="" href="" target="_blank"><h5>Terms</h5></a>
    <a routerLink="" href="" target="_blank"><h5>Privacy</h5></a>
    <a routerLink="" href="" target="_blank"><h5>Support</h5></a>
    <a routerLink="" href="" target="_blank"><h5>Contact</h5></a>
  </div>

  <div class="social-media">
    <a title="YouTube" href="" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
    <a title="Twitter" href="" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    <a title="GitHub" href="" target="_blank"><i class="fab fa-github fa-2x"></i></a>
  </div>

</footer>
