<header>

  <div class="header-left">
    <div class="logo-container">
      <img src="" alt="logo-icon">
    </div>

    <div class="nav-container">
      <app-top-nav></app-top-nav>
    </div>
  </div>

  <div class="search-container">
    <input class="search-bar" type="search" placeholder="Search..." >
    <button class="search-button" type="submit"><i class="fas fa-search fa-lg"></i></button>
  </div>

  <div class="header-right">
    <div class="auth-buttons-container">
      <button class="log-in-button" type="button" (click)="showLogInModal()">Log In</button>
      <button class="sign-up-button" type="button" (click)="showSignUpModal()">Sign Up</button>
    </div>

    <button class="site-options-button" type="button" (click)="toggleSiteOptions()"><i class="far fa-user fa-lg "></i></button>
  </div>

</header>

<app-site-options-dropdown *ngIf="siteOptionsToggle"></app-site-options-dropdown>
<app-log-in *ngIf="buttonClicked"></app-log-in>

<div class="spacer">
  &nbsp;
</div>


