<header>

  <div class="logo-container">
    <h1>Achievement Forum</h1>
  </div>

  <div class="nav-container">
    <app-top-nav></app-top-nav>
  </div>

  <div class="search-container">
    <input type="search" placeholder="Search..." >
    <button type="submit">Click</button>
  </div>

  <div class="auth-buttons-container">
    <button type="button">Log In</button>
    <button type="button">Sign Up</button>
  </div>

  <img src="" alt="blank-profile-icon"> <!-- hidden when logged in -->
  <img src="" alt="three-dots-icon"> <!-- hidden when logged out -->

  <app-site-options-dropdown></app-site-options-dropdown>

</header>


