@import '../../../../styles.scss';

p
{
  margin-bottom: 20px;
}

input
{
  height: 20px;
  width: 300px;
}

.new-email-input, .new-email-confirm-input, .password-input
{
  margin-bottom: 20px;
}

.password-input
{
  margin-bottom: 30px;
}
