<div class="profile-settings">
  <form [formGroup]="test"><!--(submit)="loginUser($event)"-->

      <h3>Profile Information</h3>
      <hr>
      <h4>Display Name:</h4>
      <p>Change your profile display name, this is separate to your account username.</p>
      <input formControlName="displayName" type="text">
      <h4>Bio:</h4>
      <p>Give a brief description about yourself</p>
      <textarea formControlName="bio"></textarea> <!-- TODO GIVE CURSOR A TOP MARGIN IN THE TEXTAREA -->

      <h3>Profile Avatar</h3>
      <hr>
      <p class="profile-picture-text">Upload a profile picture:</p>
      <input formControlName="avatar" class="profile-picture-uploader" type="file"> <!-- TODO IMAGE UPLOADER NEEDS STYLING -->

      <!--<h2>Profile Visibility</h2>
      <hr>
      <p class="profile-visibility-text">Choose if you would like your profile to be public or private</p>
      <div class="radio-input">
      <label>Public</label><input class="radio-public" type="radio" name="profile-visibility" value="public">
      <label>Private</label><input class="radio-private" type="radio" name="profile-visibility" value="private">
      </div>--> <!-- TODO NOT SURE IF VISIBILITY IS NECESSARY FOR PROFILES -->

    <button class="blue-button" type="submit">Save Changes</button>

  </form>
</div>
