@import '../../../../styles.scss';

input
{
  height: 20px;
  width: 300px;
}

.email-input, .username-input, .password-input
{
  margin-bottom: 20px;
}

.password-confirm-input
{
  margin-bottom: 30px;
}
