@import '../../../../styles.scss';

p
{
  margin-bottom: 20px;
}

input
{
  height: 20px;
  width: 300px;
}

.account-email-input, .account-password-input
{
  margin-bottom: 20px;
}

.type-delete-input
{
  margin-bottom: 30px;
}

