<div class="change-password-modal">

  <form><!--(submit)="loginUser($event)"-->
    <label for="current-password">Current Password:</label>
    <input class="current-password-input" type="password" id="current-password">

    <label for="new-password">New Password:</label>
    <input class="new-password-input" type="password" id="new-password">

    <label for="new-password-confirm">New Password Confirm:</label>
    <input class="new-password-confirm-input" type="password" id="new-password-confirm">

    <button class="blue-button" type="submit">Change Password</button> <!-- TODO BUTTON SHOULD BE DISABLED UNTIL NEW PASSWORDS MATCH  -->
  </form>
</div>
