@import '../../../../styles.scss';

input
{
  height: 20px;
  width: 300px;
}

.current-password-input, .new-password-input, .new-password-confirm-input,
{
  margin-bottom: 20px;
}

.new-password-confirm-input
{
  margin-bottom: 30px;
}

