<div class="change-username-modal">
  <p>Current Username: <i>Placeholder</i></p>

  <form [formGroup]="changeUserNameForm"><!--(submit)="loginUser($event)"-->
    <label for="new-username">New Username:</label>
    <input formControlName="newUsername" class="new-username-input" type="text" id="new-username">

    <label for="password">Password:</label>
    <input formControlName="password" class="password-input" type="password" id="password">

    <button class="blue-button" type="submit">Change Username</button> <!-- TODO BUTTON SHOULD BE DISABLED UNTIL PASSWORD IS CORRECT -->
  </form>
</div>
