@import '../../../styles.scss';

nav
{

}

nav a
{
  padding: 0 25px 0 25px;
}

nav a:hover
{
  color: colour($light-theme-colours, medium-blue);
  border-bottom: colour($light-theme-colours, medium-blue);
}

nav a.active
{
  color: colour($light-theme-colours, medium-blue);
  border-bottom: colour($light-theme-colours, medium-blue);
}

