@import '../../../styles.scss';

nav a h4
{
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

nav a:hover
{
  color: colour($light-theme-colours, medium-blue);
  border-bottom: colour($light-theme-colours, medium-blue);
}

nav a.active
{
  color: colour($light-theme-colours, medium-blue);
  border-bottom: colour($light-theme-colours, medium-blue); // todo not working for some reason
}

