@import '../../../styles.scss';

.options-container
{
  top: 50px;
  right: 10px;
  box-shadow: 0 1px 2px 0 lightgrey;
  position: fixed;

  label
  {
    margin-left: 10px;
  }

  ul
  {
    margin: 10px;
  }

  li
  {
    padding: 7px;
  }

  li:hover
  {
    background-color: colour($light-theme-colours, dark-grey);
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  hr
  {
    margin: 0 17px 0 17px;
  }

  .button-toggle
  {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 23px;
    margin-left: 15px;

    .button-toggle input
    {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
      border-radius: 16px; //old value 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: colour($light-theme-colours, medium-blue);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      transform: translateX(14px);
    }
  }
}
