<div class="options-container">

  <ul class="logged-in-options">

    <li>
      <i class="fas fa-user-circle fa-lg"></i>&nbsp;
      <label>Profile</label>
    </li>

    <li>
      <i class="fas fa-cog fa-lg"></i>&nbsp;
      <label>Account Settings</label>
    </li>

    <li>
      <i class="fas fa-edit fa-lg"></i>&nbsp;
      <label>Edit Profile</label>
    </li>

  </ul>

  <hr>

  <ul class="always-showing-options">

    <li>
      <i class="fas fa-globe fa-lg"></i>&nbsp;
      <label>Language</label>
    </li>

    <li>
      <i class="fas fa-moon fa-lg"></i>&nbsp;
      <label>Dark Theme</label>
     <label class="button-toggle">
        <input type="checkbox">
        <span class="slider"></span> <!-- todo resize the button toggle -->
      </label>
    </li>



  </ul>

  <hr>

  <ul class="logout">

    <li>
      <i class="fas fa-sign-out-alt fa-lg"></i>&nbsp;
      <label>Log Out</label>
    </li>

  </ul>

</div>
