<div class="options-container">
  <ul> <!-- hidden when not logged in -->

    <li>
      <img src="" alt="profile-icon">
      <p>Profile</p>
    </li>

    <li>
      <img src="" alt="cog-icon">
      <p>Account Settings</p>
    </li>

    <li>
      <img src="" alt="pencil-icon">
      <p>Edit Profile</p>
    </li>

  </ul>

  <ul>

    <li>
      <img src="" alt="letter-icon">
      <p>Language</p>
    </li>

    <li>
      <img src="" alt="moon-icon">
      <p>Dark Theme</p> <!-- hidden when light mode is activated -->
      <img src="" alt="sun-icon">
      <p>Light Theme</p> <!-- hidden when dark mode is activated -->
      <label class="theme-toggle">
        <input type="toggle">
        <span class="toggle-shape"></span> <!-- default is light mode -->
      </label>
    </li>

  </ul>

  <img src="" alt="exit-arrow-icon">
  <p>Log Out</p> <!-- hidden when logged out -->

</div>
