@import url(https://fonts.googleapis.com/css?family=Roboto);

/* ========================= COLOURS ========================= */

$light-theme-colours:
(
  lighter-blue: lighten(#304FFE, 4%),
  medium-blue: #304FFE,
  darker-blue: darken(#304FFE, 5%),
  lighter-grey: #414141,
  medium-grey: #EEEEEE,
  dark-grey: #E0E0E0,
  darker-grey: #BDBDBD,
  text-black: black
);

$dark-theme-colours:
(
  lighter-blue: #1565C0,
  medium-blue: #2962FF,
  darker-blue: #82B1FF,
  lighter-grey: #414141,
  medium-grey: #313131,
  darker-grey: #212121,
  text-white: white
);

/* ========================= FUNCTIONS ========================= */

// Simplifies the use of the light and dark theme SASS maps by returning a map_get call
@function colour ($theme, $colour-name)
{
  @return map_get($theme, $colour-name);
}

body
{
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: white;
}

h1, h2, h3, h4, h5, h6, p, ul, li
{
  margin: 20px 20px; // Body text should always have a left and right margin
}

a
{
  text-decoration: none;
  color: colour($light-theme-colours, text-black)
}

button
{
  padding: 7px 12px 7px 12px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
