/* ========================= COLOURS ========================= */

$light-theme-colours:
(
  lighter-blue: lighten(#304FFE, 4%),
  medium-blue: #304FFE,
  darker-blue: darken(#304FFE, 5%),
  lighter-red: #E53935,
  darker-red: #D32F2F,
  lighter-grey: #414141,
  medium-grey: #EEEEEE,
  dark-grey: #E0E0E0,
  darker-grey: #BDBDBD,
  icons: #424242,
  text-black: black,
  twitter-blue: #1C8CD2,
  youtube-red: #FF0000
);

$dark-theme-colours:
(
  lighter-blue: #1565C0,
  medium-blue: #2962FF,
  darker-blue: #82B1FF,
  lighter-grey: #414141,
  medium-grey: #313131,
  darker-grey: #212121,
  text-white: white
);

/* ========================== SPACING ========================== */

$large-space: 30px;
$medium-space: 20px;
$small-space: 10px;

/* ========================= FUNCTIONS ========================= */

// Simplifies the use of the light and dark theme SASS maps by returning a map_get call.
@function colour ($theme, $colour-name)
{
  @return map_get($theme, $colour-name);
}

body
{
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p, strong
{
  margin-left: $medium-space;
  margin-right: $medium-space;
}

h1, h2, h3, h4, h5, h6
{
  margin-top: $medium-space;
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

a
{
  text-decoration: none;
  color: colour($light-theme-colours, text-black)
}

hr
{
  color: lightgrey;
  background-color: lightgrey;
  height: 1px;
  border-width: 0;
}

button
{
  padding: 7px 12px 7px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.grey-button // TODO SEE IF THESE DIFFERENT BUTTON COLOURS CAN BE PUT INTO A FUNCTION
{
  background-color: colour($light-theme-colours, medium-grey);
}

.grey-button:hover
{
  background-color: colour($light-theme-colours, dark-grey);
}

.blue-button
{
  background-color: colour($light-theme-colours, medium-blue);
  color: white;
}

.blue-button:hover
{
  background-color: colour($light-theme-colours, lighter-blue);
}

.red-button
{
  background-color: colour($light-theme-colours, lighter-red);
  color: white;
}

.red-button:hover
{
  background-color: colour($light-theme-colours, darker-red);
}

input, textarea
{
  font-family: inherit;
  font-size: inherit;
  border: 2px solid transparent; // Stops input placeholder text from moving when focusing.
  background-color: colour($light-theme-colours, medium-grey);
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

input:focus, textarea:focus
{
  border: 2px solid colour($light-theme-colours, medium-blue);
}

form
{
  display: flex;
  flex-direction: column;
}

.fas, .far, .fa-caret-down
{
  color: colour($light-theme-colours, icons); // Font awesome icon colours.
}

.form-validation-errors
{
    border: 2px solid colour($light-theme-colours, lighter-red);
}
